{{> navbar}}
<link rel="stylesheet" href="/css/style.css">

{{#if message}}
  <p>{{message}}</p>
{{else}}
  <h2>Search Result</h2>
    <p>Work Order ID: {{workorder.id}}</p>
    <p>Name: {{workorder.name}}</p>
    <p>Issue: {{workorder.issue}}</p>
    <p>Car make: {{workorder.make}}</p>
    <p>Car model: {{workorder.model}}</p>
    <p>Date created: {{workorder.date_created}}</p>
    <p>Service: {{workorder.service}}</p>
{{/if}}

{{> footer}}
